<h2>Confirm Your Order!</h2>

<% for(var i=0; i<pizza_types_in_order.length; i++) { %>

  <div class="pizza action-container" data-pizza-type-id="<%= pizza_types_in_order[i].type.id %>">
    <div class="action-container-button">
      <%= money(pizza_types_in_order[i].subtotal) %>
    </div>

    <%= pizza_types_in_order[i].quantity + 'x' %>

    <%= pizza_types_in_order[i].type.friendly_name %> <br />

    <select class="js-size-id">
      <% for(var j=0; j<pizza_sizes.length; j++) { %>
        <option value="<%= pizza_sizes[j].id %>" <%= (pizza_types_in_order[i].size_id==pizza_sizes[j].id) ? 'SELECTED' : '' %>><%= pizza_sizes[j].friendly_name %></option>
      <% } %>
    </select>

    <button class="js-add-pizza">+</button>
    <button class="js-remove-pizza">-</button>
  </div>

 
<% } %> 

<!-- Then, option to add more pizzas -->
<button class="action js-select-additional">Add Another Pizza</button>

<!-- Other charges underneath, should be smaller/grey -->
<div class="action-container pizza">
  <div class="action-container-button">
    <%= money(service_fee) %>
  </div>

  Service Fee
</div>

<div class="action-container pizza">
  <div class="action-container-button <%= tip_class %>">
    <%= money(selected_tip) %>
  </div>

  Tip

  <button class="js-tip-plus">+</button>
  <button class="js-tip-minus">-</button>
</div>

<div class="action-container pizza">
  <div class="action-container-button">
    <%= money(grand_total) %>
  </div>

  Total

</div>


<div class="action-container js-change-restaurant">
  <div class="action-container-button"></div>

  <%= restaurant.name %>
  <br />
  <%= restaurant.address.street %>

</div>

<div class="action-container js-change-address">
  <div class="action-container-button"></div>

  <%= delivery_address.street %>
  <br />
  <%= phone(customer.phone_number) %> 

</div>

<div class="action-container js-change-card">
  <div class="action-container-button"></div>

  Charge to: **** <%= cc_last_four %>

</div>

<button type="button" class="action confirm js-confirm-order">Place Order!</button>
