<h1>Where To?</h1>
<% if (existing_addresses.length > 0) { %>
  <% for(var i=0; i<existing_addresses.length; i++) { %>
    <div class="action-container js-use-existing-address" data-address-id="<%= existing_addresses[i].objectId %>">
      <div class="action-container-button confirm"></div>
      <%= existing_addresses[i].street %> <br />
      <%= phone( existing_addresses[i].phone_number) %>
    </div>
  <% } %>
  <hr />
<% } %>

<div class="js-new-address new-address">
  <div class="field">
    <input type="text" name="new_address[name]" placeholder="Your name?" <%= (name) ? 'value="'+name+'"' : '' %> />
  </div>
  <div class="field">
    <input type="text" name="new_address[street]" placeholder="Street address..." />
  </div>
  <div class="field address-row">
    <div class="address-field">
      <input class="address-field" type="text" disabled='disabled' value="<%= new_address.city %>, <%= new_address.state %>" />
    </div>
    <div class="zip-code-field">
      <input type="numbers" name="new_address[zip]" value="<%= new_address.zip %>" />
    </div>
  </div>
  <div class="field">
    <input type="numbers" name="new_address[phone_number]" value="<%= phone(new_address.phone_number) %>" placeholder="Phone Number..." />
  </div>

  <button class="action js-use-new-address <%= (existing_addresses.length == 0) ? 'confirm' : '' %>" DISABLED='DISABLED'>Use New Address</button>
</div>

