<ul class="existing-addresses">
  <% for(var i=0; i<existing_addresses.length; i++) { %>
    <li class="address js-use-existing-address" data-address-id="<%= existing_addresses[i].objectId %>">
      <%= existing_addresses[i].street %> <br />
      <%= phone( existing_addresses[i].phone_number) %>
    </li>
  <% } %>
</ul>

<div class="js-new-address new-address">
  <input name="new_address[street]" placeholder="Street address..." /> <br />
  <small>
    <%= new_address.city %>, <%= new_address.state %> 
    <input type="numbers" name="new_address[zip]" value="<%= new_address.zip %>" />
  </small> <br />
  <input name="new_address[phone_number]" value="<%= phone(new_address.phone_number) %>" placeholder="Phone Number..." /> <br />

  <button class="js-use-new-address" DISABLED='DISABLED'>Use New Address</button>
</div>

